{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2>{% if form.instance.pk %}Edit{% else %}New{% endif %} Post</h2>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                
                <h4 class="mt-4">Images</h4>
                {{ formset.management_form }}
                <div class="row">
                    {% for form in formset %}
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                {% if form.instance.image %}
                                <img src="{{ form.instance.image.url }}" class="img-fluid mb-2">
                                {% endif %}
                                {{ form.as_p }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                    <button type="submit" class="btn btn-primary me-md-2">
                        <i class="fas fa-save me-2"></i>Save
                    </button>
                    <a href="{% if form.instance.pk %}{% url 'post_detail' pk=form.instance.pk %}{% else %}{% url 'post_list' %}{% endif %}" 
                       class="btn btn-outline-secondary">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}